@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1 {
    width: 50%;
}

#fix {
    text-align: center;
    align-items: center;

}

ul li{
    display: inline;
}

a {
    text-decoration: none;
    color: white;
}

li {
    
    width: 50px;
}

#test {
    background-color: red;
    border-radius: 5px;
    padding: 3px;
    
}

.container_nadpis {
    display: flex;
    text-align: center;
    align-items: center;

    animation: fadeInAnimation ease 1s;
}

.obsah {
    background-color: black;
    width: 50%;
}

ul {
    list-style-type: none;
    padding-left: 0
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: white
}



.container {
    display: flex;

    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.container > p {
    width: 32%;
    margin: 10px;
    padding: 20px;
    background-color: rgb(50,0,0);
    font-size: 20px;
    color:white;
    overflow: auto;    

    animation: fadeInAnimation ease 1s;
}

#lepsi_odstavec {
    background-color: rgb(100,0,0);
    color: white
}